/*bootstrap stuff*/

html, body{height:100%; margin:0;padding:0}

h5 {
	margin-top: 16.5px;
}

.container-fluid{
	height:100%;
	display:table;
	width: 100%;
	padding: 0;
}

.row-fluid {
	height: 100%;
	display:table-cell;
	vertical-align: middle;
}

.centering {
	float:none;
	margin:0 auto;
}

body {
	background: rgb(240, 240, 240);
}

.player {
	margin-bottom: .5em;
	text-transform: capitalize;
}

.player:nth-child(4n+1) {
	background: #83C5D1;
}

.player:nth-child(4n+2) {
	background: #B2D9D6;
}

.player:nth-child(4n+3) {
	background: #C3DCBF;
}

.player:nth-child(4n+4) {
	background: #C7DAD4;
}

.spacer {
	margin-top: 15px;
}

.hole-number {
	margin-top: -0.5px;
	margin-bottom: 3.5px;
}

.loader {
	display: none;
	text-align: center;
	margin-top: 200px;
}

button:active {
	border-style: inset;
	background: black;
}