/*bootstrap stuff*/

html, body{height:100%; margin:0;padding:0}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.centering {
  float:none;
  margin:0 auto;
}

body {
	background: rgb(240, 240, 240);
}

.player {
	margin-bottom: .5em;
}

.player:nth-child(4n+1) {
	background: #83C5D1;
}

.player:nth-child(4n+2) {
	background: #B2D9D6;
}

.player:nth-child(4n+3) {
	background: #C3DCBF;
}

.player:nth-child(4n+4) {
	background: #C7DAD4;
}